* {
    box-sizing: border-box;
}

header {
    background-color: @color-Primary;
    padding: 6px;

    h1 {
        margin: 0;
        color: @color-D;
    }
}

.container {
    margin: auto;

    .input-field {
        margin: 6px 0;
        cursor: pointer;
    }

    #uploaded-file {
        display: none; // Will be turned on by JS once there's something to display
    }

}


footer {
    text-align: center;
}