{% extends 'index.html' %}
{% block body %}
    <div class="col-md-6 col-md-offset-3">
        <form action="/identify" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend class="sr-only">Upload an image of your spider</legend>
                <h2>Upload an image of your spider</h2>

                <label for="camera" class="input-field btn btn-primary btn-soft">
                  Camera
                <input type="file"
                    capture="camera"
                    id="camera"
                    accept="image/*"
                    name="camera"
                    class="sr-only"
                    onchange="readUrl(this);" />
                </label>

                <label for="upload" class="input-field btn btn-primary btn-soft">
                    Upload image
                    <input type="file"
                           id="upload"
                           name="upload"
                           class="sr-only"
                           onchange="readUrl(this);" />
                </label>

                <img id="uploaded-file" src="#" alt="The image you uploaded" />

                <button type="submit" id="uploaded-submit" class="input-field btn btn-primary" nclick="pulse(this)">
                    Submit
                </button>

            </fieldset>
        </form>
    </div>

{% endblock %}
