<!DOCTYPE html>
<html>
    <head>

      <script src = {{ url_for('static', filename='js/cameraJs.js')}}></script>
      <script src = {{ url_for('static', filename='js/jquery/jquery-3.2.1.min.js')}}></script>
      <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
      <script type="text/javascript" charset="utf-8"></script>


        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Spider master</title>
    </head>
    <body>
      <br/>
      <br/>
      <br/>
      <div class="wrapper">
          <button class="button">Button</button>
      </div>
      <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
        <button onclick="capturePhoto(); ">Capture Photo</button>
        <br/>
        <br/>
        <button onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>
        <img style="display:none;width:60px;height:60px;" id="smallImage" src="" />
        <img style="display:none;width:60px;height:60px;" id="largeImage" src="" />

    </body>
</html>
